@font-face {
  font-family: 'Poor Richard';
  src: url('./assets/font/poor-richard.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  background: white;
  letter-spacing: 1px;
  font-family: 'Poor Richard', sans-serif !important;
}

.bg_casa{
  background-color: #e3e0d9;
}
.bg_contacto{
  background-color: #e3e0d94f;
}
.bg_inferior {
  background-color: #5b4f4f;
}

.btn_calltoaction{
  box-shadow: 2px 7px 96px -2px #5b4f4f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slide.selected .fade-in-text { animation: fadeIn 3s;}